@page
@model Parking.App.Frontend.EliminarParqueaderoModel
@{
}
<h1>Eliminar Parqueadero </h1>
<form method="post" class="mt-3">
    <input hidden asp-for="parqueadero.Placa">
    <input hidden asp-for="parqueadero.Id">
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./ListarParqueadero" class="btn btn-primary">Cancelar</a>
    </div>
</form>
