@page
@model Parking.App.Frontend.CrearVehiculoModel
@using Parking.App.Dominio
@{

}
<div class = "center">
<h3>Crear vehiculo</h3>
<form method="post" >
    <div class="form-row">
	<div class="form-group col-md-6">
        <label asp-for="vehiculo.Marca" class="col-sm-2">Marca</label>
        <input asp-for="vehiculo.Marca" class="form-control" placeholder="Marca Vehiculo" value="" required >        
	</div>
	<div class="form-group col-md-6">
        <label asp-for="vehiculo.Model" class="col-sm-2">Modelo</label>
        <input asp-for="vehiculo.Model" class="form-control" placeholder="Model Vehiculo" value="" required>        
    </div>	   
    

	<div class="form-group col-md-6">  
        <label asp-for="vehiculo.Color" class="col-sm-2">Color</label>
        <input asp-for="vehiculo.Color" class="form-control" placeholder="Color Vehiculo" value="" required> 
	</div>

	<div class="form-group col-md-6">
        <label asp-for="vehiculo.Placa" class="col-sm-2">Placa</label>
        <input asp-for="vehiculo.Placa" class="form-control" placeholder="Placa Vehiculo" value="">        
    </div> 

    <div class="form-group col-md-6">
        <label asp-for="vehiculo.Tipo" class="col-sm-2">Tipo</label>
        <select asp-for="vehiculo.Tipo" class="form-control" asp-items="Html.GetEnumSelectList<Tipo>()"></select> 
        <span class="text-danger" asp-validation-for="vehiculo.Tipo"></span>      
	</div>

	<div class="form-group col-md-6">
        <label asp-for="IdCliente" class="col-sm-2">Cliente</label>
        <select asp-for="IdCliente" class="form-control" asp-items="Model.clientes"></select>
    </div>
	</div>

    <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./ListarVehiculo" class="btn btn-primary">Cancelar</a>
    </div>
</form>
</div>